<?= $this->Form->create( 'NewsletterSignup', array( 'url' => Configure::read('NewsletterSignup.url') . '/submit' ) ); ?>
	<?= $this->Form->input( 'email', array( 'placeholder' => 'Email Address' ) ); ?>
    <button class="button" type="submit">Submit</button>
</form>